body{
    background-color: orange;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Design du titre et adaptation de la taille  */
.bottle-title {
    width: 100%;
    height: auto;
    background-color: rgb(189, 131, 44);
}
h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
    
    
}
/* taille des images pour le bandeau */
.image {
    width: 100%;
    height: auto;
    
}
/* Centrer les images */
.slider{
    display: flex;
    justify-content: center;
}
/* Création de l'intro */
.intro{
    color: white;
    width: 80%;
    height: auto;
    margin: 5%;
    margin-bottom: 2%;
    font-size: 1.5rem;
}
span{
    font-size:0.8rem;
    font-family: 'Vujahday Script', cursive;
/* Panneau des horaires */
}
.hours{
    margin-bottom: 2%;
    margin-top:2%;
}
.title-hours{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.title-hours ul li{
    margin:0 20%;
    font-size: 2em;
    list-style-type: none;
    color: rgb(245, 243, 243);
    text-shadow: 1px 1px 1px rgb(2, 2, 2);
    
}
